AndroidClient/.classpath
AndroidClient/.project
AndroidClient/bin/
AndroidClient/gen/
AndroidClient/proguard-project.txt
AndroidClient/project.properties
*/bin/
*/src/com/huanghua/*/*.class
AndroidClient/.settings/
JavaClient/lib/userdata/*
